.basic-template {
    display: flex;
    min-width: 100%;
    min-height: 100%;
}

.basic-template__left {
    min-width: 260px;
    width: 20%;
    background-color: gray;
}

.basic-template__right {
    width: 80%;
    background-color: lightgrey;
}