.view {
    display: flex;
    flex-direction: column;

    height: 100vh;

    padding: 5px;
}

.view__subject {
    flex-basis: 56px;
    width: 100%;
}

.view__body {
    flex-grow: 1;

    border-radius: 0 0 8px 8px;

    padding: 8px 12px;
    
    background-color: white;
    color: black;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}